.DS_Store

node_modules/

lib/core/metadata.js
lib/core/MetadataBlog.js
translated_docs
build/
# i18n/*
.docusaurus/*

.env

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Using yarn, so ignore npm lock
package-lock.json

# VSCode
.vscode/
/.idea/git_toolbox_prj.xml
